@import '../../utilities//variables.scss';

.bottomNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid rgb(185, 185, 185);

    &__icon svg{
        fill: transparent;
        stroke: rgb(0, 0, 0);
        stroke-width: 1px;
    }

    &--selected {
        fill: $yellow-color;
    }
}