@import '../../utilities//variables.scss';

.productItem {
    background-color: white;
    padding: 10px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: height .3s;
    width: 250px;
    height: 340px;
    font-family: 'Nunito', sans-serif;



    &:hover {
        height: 380px;
    }

    &:hover > &__moreInfo {
        // display: block;
        height: 20px;
        opacity: 1;
    }

    &__separation {
        position: relative;
    }

    &__line {
        border: 1px solid #dedddd;
        width: 94%;
    }

    &__container-carrito {
        border: 1px solid #dedddd;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        justify-content: center;
        width: 20px;
        align-items: center;
        position: absolute;
        background-color: #fff;
        top: -13px;
        right: 15px;
    }

    &__carrito {
        width: 20px;
        fill: #39b54a;
    }

    &__img {
        width: 200px;
        height: 250px;
        display: flex;
        margin: 0 auto;
    }

    &__price {
        text-align: left;
        color: #333333;
        font-size: 23px;
        font-weight: 600;
        margin: 5px auto;
        width: 90%;
    }

    &__cuota {
        margin: 5px auto;
        color: #333333;
        width: 90%;
        font-size: 14px;
        font-weight: 600;

    }

    &__moreInfo {
        // display: none;
        height: 0px;
        transition: opacity .2s .2s, height .2s .2s;
        opacity: 0;
    }

    &_info {
    width: 94%;
    margin: 0 auto;
    font-weight: 500;
    color: #505050;
    font-size: 14px;
    }
}